body{
    background-image:url(IMAGES/FONDO\ v3.png);
    background-size: 100% auto;
}
a{
    color: white;
    text-decoration: none;
}
ul{
    text-align: center;
}
li{
   background-color: blue;
    display: inline-block;
    width: 15%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    text-decoration: none;
     
}
