body {
    background-image: url("IMAGES/FONDO\ v3.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}

main{

}
p{
color: white;
}
nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #00BFFF;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
}
a{
    text-decoration: none;
}